
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }



h1 {
   height: 72px;
  background:  darkorange;
  color: white;
  /* Add in display and flex direction */
  display: flex;
  align-items: center;
  
  /* Add in padding from left so header more central & change the font size (32px) and weight (900) */
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
  }

/* Create style for body  div - add flex value and display. */
.body {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 300px;
  background: lightsalmon;
  box-sizing: border-box;

  /* Add flex shrink and padding */
  flex-shrink: 0;
  padding: 16px;
}

ul {
  /* Remove bullet points */
  list-style-type: none;

  /* Remove default margin and padding from u-list */
  margin: 0;
  padding: 0;
}

/* Format list items */
li {
  /* Adjust margin from bottom of list items (spaces out) */
  margin-bottom: 16px;
}

a {
  /* Colour white */
  color: black;

/* Remove underline from hyperlink */
  text-decoration: none;

/* Change text font size to 24px */
  font-size: 24px;
}

.container {
  /* Add display and flex wrap */
  display: flex;
  flex-wrap: wrap;
  
  /* Add padding to move list away from margin */
  padding: 32px;
  align-content: stretch;
}
  
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

  /* Add padding to separate each individual  text card.*/
  padding: 16px;
  /* Increase thickness of margin to further separate each card. */
  margin: 16px;
  /* Set the width of each card to 300px */
  width: 300px;
}

.footer {
  /* Change back to 50 */
  height: 49px;
  background: #eee;
  color: darkmagenta;

  /* Add display flex, align items to the centre and justify content to center. */
  display: flex;
  align-items: center;
  justify-content: center;
}